@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.warn-snackbar {
    background-color: #f36811;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3px;
    padding: 14px 24px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.4s ease-out;
}